<html>
  <head>
    <link 
    rel="stylesheet" href="/css/root.css" />
  </head>
  <body>
    <h1>
      <%= title %></h1>
    <p>
      This is a simple example of a Node.js application using Express.js and
      EJS.
    </p>
    <ul>
      <li>Eriks</li>
      <li>test</li>
      <li>test3</li>
      <li>test4</li>
    </ul>
  </body>
</html>
