<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>LobbyPage</title>
    </head>
  <body>
    <h1>Lobby Page</h1>
    <p>Choose your server</p>
  </body>
</html>